%h2 <span class="someone">Someone</span> should really<br /><span class="do_something">do&nbsp;something</span> about that.
= render :partial => "requests/thumbs", :object => @requests
%ul.actions
	%li.propose
		%a{:href => 'requests'} 
			.icon=image_tag('lightbulb.png')
			%h3 Propose
			%p Identify a problem in your neighborhood.
	%li.fund
		%a{:href => 'requests'} 
			.icon=image_tag('money.png')
			%h3 Fund
			%p Donate directly to a project you care about.
	%li.act
		%a{:href => 'requests/funded'} 
			.icon=image_tag('digging.png')
			%h3 Act
			%p Improve your community and get paid.