%h1 Requests
%ul.requests
	- @requests.each do |request|
		%li 
			%img{:src=> request.media_url}
			%a.view{:href => url_for(request)} View
			.service{:class=>request.service_name}= request.service_name
			.time= request.requested_datetime
			%p.description= request.description
			- if(request.tr_id != nil)
				.tr_id= "TR id:" + request.tr_id