= link_to 'View Map', {:controller => 'requests', :action => 'map'}, :class => 'map'
%h2 Fund a Project
%h3 Select a project to post to Taskrabbit, where it will be completed by trusted and qualified members of the community.
= render :partial => "thumbs", :object => @requests