= link_to 'View Map', {:controller => 'requests', :action => 'map'}, :class => 'map'
%h2 Fund a Project
%h3 Select a project to post to Taskrabbit, where it will be completed by trusted and qualified members of the community.
%ul.requests
	- @requests.each do |request|
		%li 
			%img{:src=> request.media_url}
			%a.info{:href => url_for(request)}
				.service{:class=>request.service_name}= request.service_name
				%p.description= fill_description(request).html_safe
				.more Click for details.