$graffiti_color: red;
$sign_color: green;
$other_color: blue;
@mixin gradient_inverse($color, $amount: 3%) {
	background-image: linear-gradient(bottom, lighten($color, $amount), darken($color, $amount));
	background-image: -o-linear-gradient(bottom, lighten($color, $amount), darken($color, $amount));
	background-image: -moz-linear-gradient(bottom, lighten($color, $amount), darken($color, $amount));
	background-image: -webkit-linear-gradient(bottom, lighten($color, $amount), darken($color, $amount));
	background-image: -ms-linear-gradient(bottom, lighten($color, $amount), darken($color, $amount));
	background-image: -webkit-gradient(linear, left bottom, left top, lighten($color, $amount), darken($color, $amount));
}
@mixin gradient($color, $amount: 3%) {
	background-image: linear-gradient(bottom, darken($color, $amount), lighten($color, $amount));
	background-image: -o-linear-gradient(bottom, darken($color, $amount), lighten($color, $amount));
	background-image: -moz-linear-gradient(bottom, darken($color, $amount), lighten($color, $amount));
	background-image: -webkit-linear-gradient(bottom, darken($color, $amount), lighten($color, $amount));
	background-image: -ms-linear-gradient(bottom, darken($color, $amount), lighten($color, $amount));
	background-image: -webkit-gradient(linear, left bottom, left top, darken($color, $amount), lighten($color, $amount));
}

@mixin shadow($width: 5px, $color: #000, $x: 0px, $y: 0px){
	-moz-box-shadow: $x $y $width $color;
	-webkit-box-shadow: $x $y $width $color; 
	box-shadow: $x $y $width $color;
}

@mixin inner-shadow($width: 5px, $color: #000, $x: 0px, $y: 0px){
	-moz-box-shadow: inset $x $y $width $color;
	-webkit-box-shadow: inset $x $y $width $color; 
	box-shadow: inset $x $y $width $color;
}


@mixin rounded-corner($radius){
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;	
}